* {
  box-sizing: inherit;
}


canvas {
    border: 1px solid black;
    background-color: rgb(5, 10, 5);
}


html {
  height: 100%;
  box-sizing: border-box;
}

body {
    
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgb(39, 53, 40);
}

img {
  border-radius: 3px;
}

textarea {
    color: white;
    background-color: black;

}

#wrapper {
    display: grid;

    grid-template-rows: auto 1fr auto;
    height: 100vh;
    z-index: 1;
}

#header {
    height: 100px;
    text-align: center;
    padding: 20px;
    background-color: rgb(24, 25, 43);
    color: white;
}

#content {
    /* position: relative; */
    height: 100%;
} 

#footer {
    background-color: rgb(82, 81, 81);
    height: auto;
    margin-top: auto;
    padding: 5px;
}


#mainCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    
    z-index: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(24px);
    background-color: rgba(255, 255, 255, 0.13);
    box-shadow: 0px 0px 25px -5px rgb(0, 0, 0);
    justify-content: center;
    margin: 20px;
    border: 5px solid rgba(255, 255, 255, 0.089);
    border-radius: 8px;
    gap: 40px;
    padding: 40px;
}


.project {
    position: relative;
    display: grid;
    z-index: 1;
    align-self: start;
    max-width: 256px;

    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 8px;
    padding: 5px;
    backdrop-filter: blur(24px);
    box-shadow: 0px 0px 25px -5px rgb(0, 0, 0);
    margin: 2px
}

.project:hover {
    border: 5px solid rgb(76, 250, 134);
    background-color: rgba(177, 250, 186, 0.13);
    padding: 0px;
    box-shadow: 0px 0px 25px -5px rgb(159, 255, 183);
}

.block-link {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;     
    z-index: 1;
}

.thumbnail {
    /* border-top-left-radius: 4px;
    border-top-right-radius: 4px; */
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.label {
    color:  rgb(231, 241, 227);
    /* border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; */
    text-align: center;
    width: 100%;
    /* background-color: rgba(217, 235, 223, 0);
    box-shadow: 9px 9px 25px -10px rgb(120, 150, 120) inset,
    9px 9px 25px -10px rgb(195, 212, 207) inset;  */
    
}

.textbox {
    background-color: rgba(255, 255, 255, 0.062);
    backdrop-filter: blur(24px);
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: fit-content;
    margin: 10px;
    border-radius: 8px;
    border: 4px solid gray;
}

.textbox > button {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.096);
}